$title: clamp(1.875rem, calc(1.1786rem + 2.8571vw), 3.75rem);
$title-2: clamp(1.25rem, calc(1.0179rem + 0.9524vw), 1.875rem);
$brand-text: clamp(0.875rem, calc(0.7357rem + 0.5714vw), 1.25rem);

.main {
  max-width: 1239px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  .main-title {
    font-weight: 700;
    font-size: $title;
    text-align: center;
    line-height: 3.6rem;
  }
  .steps-block {
    display: flex;
    justify-content: center;
    gap: 48px;
    flex-wrap: wrap;

    .step {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: default;
      position: relative;
      margin-top: 110px;

      text-align: center;
      width: 381px;
      height: 437px;
      $first: #001635;
      $second: #365384;

      background: radial-gradient(
            circle at 100% 100%,
            $first 0,
            $first 3px,
            transparent 3px
          )
          0% 0%/4px 4px no-repeat,
        radial-gradient(circle at 0 100%, $first 0, $first 3px, transparent 3px)
          100% 0%/4px 4px no-repeat,
        radial-gradient(
            circle at 100% 0,
            $second 0,
            $second 3px,
            transparent 3px
          )
          0% 100%/4px 4px no-repeat,
        radial-gradient(circle at 0 0, $second 0, $second 3px, transparent 3px)
          100% 100%/4px 4px no-repeat,
        linear-gradient($first, $second) 50% 50% / calc(100% - 2px)
          calc(100% - 8px) no-repeat,
        linear-gradient($first, $second) 50% 50% / calc(100% - 8px)
          calc(100% - 2px) no-repeat,
        linear-gradient(40deg, transparent 50%, #19456f 100%),
        linear-gradient(220deg, transparent 60%, #428acd 100%);
      border-radius: 4px;
      padding: 1px;
      box-sizing: border-box;

      box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
      filter: drop-shadow(0px 1px 3px rgba(0, 0, 0, 0.2))
        drop-shadow(0px 1px 1px rgba(0, 0, 0, 0.14));

      .step-number {
        font-weight: 700;
        font-size: 3.75rem;
        position: absolute;
        top: -46.5px;
        left: 50%;
        transform: translateX(-50%);
        background-color: #7a50bf;
        width: 93px;
        height: 93px;
        border-radius: 50%;
      }

      .step-text {
        font-size: 1.5rem;
        font-weight: 400;
        padding: 0 23px;
        margin-top: 35px;

        .step-text__thin {
          font-size: 1rem;
          line-height: 24px;
          padding-top: 15px;
        }
      }

      .step-img {
        height: 108px;
        object-fit: contain;
        margin: 16px 0;
      }
      .step-img-logo {
        height: 139px;
        margin-top: 53px;
      }

      .step-btn {
        margin: 0 auto;
        font-weight: 700;
        font-size: 1.125rem;
        color: white;
        width: 296px;
        height: 62px;
        background: #7a50bf;
        border-radius: 10px;
        border: none;
        cursor: pointer;
      }
      .step-link {
        font-size: 1.5rem;
        color: white;
        text-decoration: underline;
      }
    }
  }
  .second-title {
    font-size: $title-2;
    font-weight: 700;
    text-align: center;
  }
  .brand-block {
    display: flex;
    justify-content: center;
    gap: 42px;
    margin-top: 90px;
    flex-wrap: wrap;

    .brand-item {
      max-width: 588px;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 20px;

        .brand-img {
          height: 141.34px;
          width: 100%;
          object-fit: contain;
          margin-top: 27px;
          margin-bottom: 20px;
        }
        .brand-img__play1st {
          height: 95.58px;
          margin-top: 49px;
          margin-bottom: 43px;
        }
      
      .brand-text {
        margin: 0 67px 65px 67px;
        font-size: $brand-text;

        .brand-title {
          font-weight: 700;
          margin-bottom: 40px;
        }
        .brand-desc {
          line-height: 30px;
          text-align: justify;
          word-spacing: 9px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .main {
    .main-title{
      margin-top: 40px;
    }
    .steps-block {
      margin-top: 110px;
      .step {
        margin-top: 9px;
      }
    }
    .second-title {
      margin-top: 34px;
      font-weight: 400;
    }
    .brand-block {
      
      margin: 34px 25px 0 25px;
      .brand-item {

          .brand-img {
            height: 80px;
            margin-bottom: 17px;
          }
          .brand-img__play1st {
            height: 35px;
            margin-bottom: 19px;
          }
        
        .brand-text{
          margin: 0 20px 30px 20px;
          .brand-title{
            margin-bottom: 30px;
          }
          .brand-desc {
            line-height: 1.3rem;
            word-spacing: 4px;
          }
        }
      }
    }
  }
}
